## ginore this file ##
*.pth
*.log
*.pyc
*.swp
*.swo
*.pfm
tmp
data*
weights
.nfs*
runs
*.ipynb
*.npy
bk/
*.npy*
__pycache__
.DS_Store
mstopk

*.tar.gz
pdfresults/
wandb/
wandb/runs*
predict/
predict
weights
